# Node.js
node_modules/

# Next.js
.next/

# Environment variables files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.DS_Store

# Cypress adds a bunch of directories we don't want to version
cypress/
